* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  max-height: 100vh;
}

/* TYPOGRAPHY */
.scroll a,
li {
  color: rgb(32, 178, 170);
  cursor: pointer;
}

/* UTILITIES */
.visible {
  display: block;
}

body li.active {
  color: rgb(32, 178, 170);
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

/* CAROUSEL MAIN */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
  width: 100%;
}

/* SCROLL */
.scroll {
  font-size: 50px;
}

/* IMAGES */
.images {
  width: 640px;
  height: 426px;
  margin: 0 30px;
}

img {
  display: none;
}

/* SCROLL A PALLINI */
.shots {
  position: absolute;
  right: 50%;
  bottom: 30px;
  transform: translateX(50%);
  padding: 15px 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .5);
}

.shots li:not(:last-of-type) {
  margin-right: 15px;
}

.shots li {
  color: rgba(32, 178, 170, .3);
}